[Unit]
Description=Gunicorn server for slack-presence

[Service]
Restart=on-failure
User=USER
WorkingDirectory=/home/USER/slack-presence
EnvironmentFile=/home/USER/slack-presence/.env

ExecStart=/home/USER/slack-presence/slack_presence.py

[Install]
WantedBy=multi-user.target